::-webkit-scrollbar-thumb {
  background: linear-gradient(
    94deg,
    #2260ff 5.86%,
    #862be1 51.33%,
    #fa00ff 90.93%
  );
  border-radius: 8px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
